html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
}

.logo {
  float: left;
}

.card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.card-body {
  font-size: 1.5rem;
  padding-bottom: .5rem;
  line-height: 1.5em;
}

.btn-big {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .6em .75em .6em;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.card-head {
  float: left;
  margin-left: 2em;
}
