html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-height: 500px;
  overflow: hidden;
  margin: 0;
}

.banner {
  display: block;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

.logo {
  float: left;
  margin-right: 2em;
  padding-bottom: 100%;
  width: 30%;
}

.card-head {
  position: absolute;
  left: 25%;
  top: 30%;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 0;
}

.btn-big {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .6em .75em;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.btn {
  margin-top: 2em;
}

.btn:hover {
  background-color: grey;
}
